<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <img src="assets/logo.jpg" alt="World of Kaffe" style="height: 60px;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectedCoffee">
    <img [src]="selectedCoffee.image" alt="{{ selectedCoffee.name }}" class="coffee-image" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ selectedCoffee.name }} - Descrição</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Embarque em uma jornada sensorial com nosso café. Cada xícara é uma nova descoberta. 
          Explore diferentes métodos de preparo e encontre o seu perfil de sabor perfeito.</p>
      </ion-card-content>
    </ion-card>

    <!-- Botão de Voltar -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Detalhes do Café</ion-title>
    </ion-toolbar>

    <!-- Exibição das receitas -->
    <ion-list>
      <ion-item *ngFor="let recipe of coffeeRecipes">
        <ion-label>
          <h3>{{ recipe.title }}</h3>
          <ion-list>
            <ion-item *ngFor="let step of recipe.steps">
              <ion-label>{{ step }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
