ion-content {
  --ion-background-color: #FAF0E6;
  color: #6D3D14;
}
.coffee-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .coffee-details {
    margin: 20px 0;
  }
  
  .filter-container {

    text-align: center;
  
  }
  
  .filter-options p {
    margin: 0;
    color: #8a8a8a;
  }
  
  .selected {
    background-color: #e0e0e0;
  }
  