<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <img src="assets/logo.jpg" alt="World of Kaffe" style="height: 60px;" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Banner -->
  <div class="banner">
    <img src="assets/cafe.jpg" alt="Café" />
    <div class="banner-text">
      <h1>Explore a arte e o universo dos cafés</h1>
      <p>Descubra novos sabores e experiências únicas.</p>
    </div>
  </div>

  <!-- Grid de Tipos de Café -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of coffeeTypes">
        <ion-card class="coffee-card" (click)="onCoffeeTypeClick(item)">
          <img [src]="item.image" alt="{{ item.name }}" class="coffee-image" />
          <ion-card-content>
            <ion-text>{{ item.name | uppercase }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botão para carregar imagem aleatória -->
  <div class="random-coffee-container">
    <ion-button expand="block" (click)="loadRandomCoffee()" color="primary" class="random-button">
      Surpreenda-se com um Café
    </ion-button>

    <!-- Imagem exibida após carregar -->
    <div class="random-coffee" *ngIf="coffeeImageUrl">
      <img [src]="coffeeImageUrl" alt="Foto de Café Aleatória" class="random-coffee-image" />
    </div>
  </div>
</ion-content>
