/* Estilo geral */
ion-content {
  --ion-background-color: #FAF0E6;
  color: #6D3D14;
}

/* Header da imagem */
.header-image {

  position: relative;
  width: 100%; /* Remove qualquer margem e faz o banner ocupar toda a largura */
  
}

.banner-image {
  width: 100%;
  height: auto; 
  object-fit: cover;
  opacity: 50%;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #faffff;
  text-align: center;
  font-size: 3rem; 
  font-weight: bold;
  text-shadow: 2px 2px 4px #6D3D14;
}

.subtitle {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  font-weight: lighter;
}

/* Filtros */
.filters {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* Cartão do café */
.coffee-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.coffee-title {
  text-align: center;
  font-size: 1.5rem;
  color: #5b4636;
}

ion-img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.coffee-details {
  font-size: 0.9rem;
  color: #5b4636;
}

.coffee-description {
  margin-top: 15px;
  text-align: justify;
  color: #5b4636;
  font-size: 0.9rem;
}
