/* Estilo geral */
ion-content {
  --ion-background-color: #fbe8d3;
  color: #5b4636;
  font-family: 'Roboto', sans-serif;
}

/* Header da imagem */
.header-image {
  background-image: url('/assets/coffee-background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.kaffepedia-title {
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
}

/* Filtros */
.filters {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* Cartão do café */
.coffee-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.coffee-title {
  text-align: center;
  font-size: 1.5rem;
  color: #5b4636;
}

ion-img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.coffee-details {
  font-size: 0.9rem;
  color: #5b4636;
}

.coffee-description {
  margin-top: 15px;
  text-align: justify;
  color: #5b4636;
  font-size: 0.9rem;
}
