/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    
}
body {
    background-color: #faf0e6 !important;
}

.custom-content {
    padding: 0;
    background-color: #faf0e6;
}.custom-toolbar {
    --background: #faf0e6;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .logo-image {
    max-width: 150px;
    height: auto;
  }
  
  ion-button {
    --padding-start: 10px;
    --padding-end: 10px;
  }
  

/* Estilização do banner */
.image-banner {
    background-image: url('../../assets/coffee-beans.png');
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.kaffepedia-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); /* Sombra mais intensa e visível */
    font-family: 'Josefin Sans', sans-serif;
}

/* Descrição */


.description p {
    color: #6d3d14;
    font-weight: lighter;
    text-align: center;
    margin: 20px 0;
}
.filter-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }.filter-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .centered-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  
  .filter-button {
    background-color: #6D3D14;
    color: white;
    border-radius: 30px;
    font-size: small;
    padding: 8px 15px;
    max-width: 200px;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .filter-button {
      font-size: 0.8rem;
      padding: 6px 10px;
    }
  }
  
  
  
  





/* Detalhes do café */
.coffee-details {
    padding: 20px;
    background-color: #faf0e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.coffee-image {
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.box-deinfo {
    padding: 20px;
    background-color: #6D3D14;
    color: #fff;
    border-radius: 10px;
    flex: 1;
}

.titulo-details{
    margin-left: 30px;
    color: #6D3D14;
    font-weight: lighter;
}

.info-box h3 {
    
    font-size: medium;
   
}

.info-box p {
    font-size: smaller;
    font-style: italic;
   
}

.extra-info p {
   padding-top: 20px; font-size: 1.1rem;
  
}

/* Rodapé */
.footer-toolbar {
    background-color: #faf0e6;;
}

ion-icon {
    font-size: 1.6rem;
}

ion-button {
    --border-radius: 50%;
    --background: transparent;
    --color: white;
    padding: 10px;
    font-size: 1.4rem;
}

/* Responsivo */
@media (max-width: 768px) {
    .image-banner {
        height: 200px;
    }

    .kaffepedia-title {
        font-size: 2rem;
    }

    .description p {
        font-size: 1rem;
        margin: 15px 0;
    }

    .filter-row {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-button {
        margin: 5px 0;
        font-size: 1rem;
    }

    .coffee-details {
        padding: 15px;
            width: 100%;          /* A imagem ocupará 100% da largura do seu contêiner pai */
            max-width: 400px;     /* A imagem terá um tamanho máximo de 400px */
            height: auto;         /* Mantém a proporção da altura da imagem */
            margin: 0 auto;       /* Centraliza a imagem horizontalmente */
            display: block;       /* Garante que a imagem seja tratada como um bloco, útil para centralizar */
          
    }

    .coffee-image {
        width: 100%;
        margin: 15px 0;
    }

    .info-box h3 {
        font-size: 1.2rem;
    }

    .info-box p {
        font-size: 0.9rem;
    }

    .extra-info p {
        font-size: 1rem;
    }

    .footer-toolbar {
        padding: 10px 0;
    }

    ion-icon {
        font-size: 1.4rem;
    }

    ion-button {
        font-size: 1.2rem;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .logo-title {
        font-size: 1.6rem;
    }

    .logo-text {
        font-size: 1.4rem;
    }

    .kaffepedia-title {
        font-size: 1.5rem;
    }

    .description p {
        font-size: 0.9rem;
       }
    

    .filter-button {
        font-size: 0.9rem;
    }

    .coffee-details {
        padding: 10px;
    }

    .coffee-image {
        margin: 10px 0;
    }

    .info-box h3 {
        font-size: 1rem;
    }

    .info-box p {
        font-size: 0.8rem;
    }

    .extra-info p {
        font-size: 0.9rem;
    }

    .footer-toolbar {
        padding: 8px 0;
    }

    ion-button {
        font-size: 1.1rem;
    }
}
